<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_webpages</h1>

        <table border="3px">

            <tr>
                <th>pk value</th>
                <th>Topic_name</th>
                <th>name</th>
                <th>url</th>
                <th>email</th>
            </tr>
        {% for wo in webpages %}
            <tr>
                <td>{{wo.pk}}</td>
                
                <td>{{wo.topic_name}}</td>
                <td>{{wo.name}}</td>
                <td>{{wo.url}}</td>
                <td>{{wo.email}}</td>
            </tr>

        {% endfor %}














        </table>













    </center>
</body>
</html>