<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_topic</h1>
        <form method="POST">
            {% csrf_token %}

            <label for="tn">topic_name</label>
            <input type="text" name="tn" id="tn"><br><br>

            <input type="submit" value="insert_topic">
        </form>












    </center>
</body>
</html>