<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>select_multiple</h1>
        <form method="POST">
            {% csrf_token %}

            <label for="tn">Topic_Name</label>

            <select name="tn" id="tn" multiple>

                {% for to in topics %}
                    <option value="{{to.topic_name}}">{{to.topic_name}}</option>
                {% endfor %}
            </select>


<br><br>
            <input type="submit" value="select_multiple_webpage">













        </form>
    </center>
</body>
</html>